/*
Theme Color
Dark: #212426
LightDarK: #555E66
Green: #7EBA18
Blue: #08A1FF
Orange: #f58400
Red: #BC0002
*/

/* Global
====================================================== */
@font-face {
    font-family:ng;
    src:url(../font/NanumGothic.eot);
    src:local(※), url(../font/NanumGothic.woff) format('woff')
}

html {width: 100%; height: 100%}
body {width: 100%; height: 100%; font-family:NanumGothic,'나눔고딕',ng,sans-serif; overflow: hidden}
#wrap {width: 100%; height:100%}

body {
    background: #212426;
}


/* Header
====================================================== */

#header {
    background: white;
    height: 70px;
}

#header .status {
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

#header .time {
    font-size: 10pt;
    text-align: center;
}

/* Container
====================================================== */

#container {
    width: 100%;
    height: 100%
}

#container .menu {
    position: absolute;
}

#container .menu .btn {
    width: 70px;
    height: 70px;
    background: #555E66;
    float:left;
    text-align: center;
    margin: 5px;
    font-size: 9pt;
    color: white;
    padding-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

#container .menu .btn:hover {
    background: #08A1FF;
}

#container .tool {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 100%;
    transform: translateX(-200px);
    top: 70px;
}

#container .home {
    position: absolute;
    width: 100%;
    height: 100%;
}

#container #home-block {
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.5;
}

#container #node-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}

#container .node {
    position: absolute;
    left: 300px;
    top: 150px;
    color: white;
    background-color: #7EBA18;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

#container .node .node-id {
    font-size: 9pt;
}

#container .node .node-name {
    font-size: 12pt;
}

.btn-home {
    display: none;
}

/** Dialog (Add New Node) **/
.dialog-content {
    width: 70px;
    text-align: center;
    display: inline-block;
    margin : 6px 0 6px 0;
}

.dialog input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #555E66;
    text-align: center;
    width: 180px;
}

.dialog .dialog-icon {
    display: none;
}

.dialog .icon-load  {
    -webkit-animation: cssAnimation 1s 16 ease;
    -moz-animation: cssAnimation 1s 16 ease;
    -o-animation: cssAnimation 1s 16 ease;
}
@-webkit-keyframes cssAnimation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes cssAnimation {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-o-keyframes cssAnimation {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}

.dialog .icon-done {
}

.dialog .icon-fail {
}

.dialog-search-status {
    color: #BC0002;
    font-size: 10pt;
    text-align: center;
    display: none;
}

/* Footer
====================================================== */

/* Others
====================================================== */

.green {
    color: #7EBA18;
}

.blue {
    color: #08A1FF;
}

.red {
    color: #BC0002;
}


/* SVG Override
====================================================== */
#svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#main_button {
    display: none;
}

#main_icon {
    display: none;
}

#rulers {
    display: none;
}

#ruler_x, #ruler_y, #ruler_corner {
    display: none;
}

#tools_top {
    display: none;
}

#workarea {
    background: #212426;
    border: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#svgcanvas {
    background: #212426;
    border: none;
}

#svgcanvas {
    position: absolute;
}

#canvasBackground {
    display: none;
}

#tools_left {
    top: 100px;
    left: 10px;
    background: transparent;
}

#tools_rect {
    left: 50px;
    top: 200px;
}

#tools_rect {
    left: 50px;
    top: 200px;
}

#tools_rect {
    left: 50px;
    top: 200px;
}

#tools_ellipse {
    left: 50px;
    top: 237px;
}

#tools_bottom {
    top: 335px;
    left: 2px;
}

.tool_button {
     -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #555E66;
}

.tool_button_current {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #f58400;
}

.color_tool {
    background-color: #555E66;
}

.fill_color {
    border: none;
}

#tool_fill {
    left: 12px;
}

#tool_stroke {
    left: 12px;
    top: 30px;
}

#tool_opacity {
    left: 12px;
    top: 60px;
}

#tools_shapelib_show, #tool_eyedropper, #sidepanels, #palette_holder, #zoom_panel, #tool_opacity {
    display: none;
}

#tools_left, #tools_bottom {
    display: none;
}

/* jQuery-Ui Override
====================================================== */

.ui-widget {
    font-size: 11pt;
}